body {
  padding: 30px;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
.cool {
  text-decoration: underline;
  padding: auto;
}
.wrap {
  margin-bottom: 45px;

}